<header>
  <h5>{{model.name}}</h5>
  <div class="constraint-buttons">
    {{x-button-group options=constraintOptions value=model.constraint onClick=(action "setConstraint" )}}
  </div>
</header>

{{#if isNotDisabled}}
{{plan-component-group-editor/plan-component-select planComponents=model.planComponents}}
{{/if}}
