.application {
  &--header {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    font-size: 9pt;
    padding: 3px;
  }
  &--header-right {
    text-align: right;
  }

  &--main {

  }
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.brand {
  display: grid;
  grid-template-columns: 200px 1fr;

  &-nav {
    border-right: 1px solid black;
    padding: 3px;
  }

  &-main {
    padding: 3px;
  }
}
