{{#if session.isAuthenticated}}
<header class="application--header">
  <div class="application--header-left">
    mvnokit
  </div>
  <div class="application--header-right">
    {{currentUser.user.name}} | <a href="#" {{action 'invalidateSession'}} >logout</a>
  </div>
</header>
{{/if}}
<main class="application--main">
  {{outlet}}
</main>
